<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css')}}">
    <script src="{{ url_for('static', filename='js/funcion.js') }}"></script>
    <title>Olvido contraseña</title>
</head>
<body id="cuerpoOlvidoCon">
    <div class="tituloLogin" style="width: 35em; margin: 0 auto;">
        <h1>¿Olvido la contraseña o usuario?</h1>
    </div>
    <form action="" method="get" name="formOlvidoCon" id="formOlvidoCon">
        <img src="{{url_for('static', filename='images/logoIANSA.png')}}" width="200" height="200"><br><br>
        <div>
            <p>Si usted olvido la contraseña o usuario escriba su correo personal e ingrese al mensaje que se le enviara a este y siga las instrucciones.</p>
        </div>
        <div>
            <input type="email" name="usuario" maxlength="50" id="usuario" placeholder="@ejemplo.com" pattern=".+@\.com">
        </div><br>
        <button type="submit" value="Enviar" id="botonIngresoLogin" style="cursor:pointer ;">Enviar</button> <br><br>
    </form>  
</body>
</html>