<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css')}}">
    <script src="{{ url_for('static', filename='js/funcion.js') }}"></script>
    <title>Empleado</title>    
</head>

<body id="cuerpoEmpleado">  
    <div style="text-align: center;">
      <table style="margin: 0 auto; border-collapse: separate; border-spacing: 150px 20px;" > 
        <tr>
          <th><img src="{{url_for('static', filename='images/profile.png')}}" width="200" height="200"></th>   
          <th><img src="{{url_for('static', filename='images/logoIANSA.png')}}" width="200" height="200"></th>                 
        </tr>      
      </table>
    </div>
    <div class="datosPersonales">
      <form>
        <table class="table">
          <thead  class="thead-dark">
            <tr>
              <th scope="row" colspan="3" style="border-radius: 10px;">Jorge Enrique Acevedo Yara</th>
            </tr>                  
          </thead>
          <tbody style="color: whitesmoke;">
            <tr>
              <th scope="row" colspan="2">Cargo</th>                  
              <td>Desarrollador Front-end</td>
            </tr>
            <tr>
              <th scope="row" colspan="2">Fecha de ingreso</th>                  
              <td>8 de septiembre de 2022</td>
            </tr>
            <tr>
              <th scope="row" colspan="2">Fechas de terminacion de contrato</th>              
              <td>No aplica</td>
            </tr>
            <tr>
              <th scope="row" colspan="2">Tipo de contrato</th>                
              <td>Termino indefinido</td>
            </tr>          
            <tr>
              <th scope="row" colspan="2">Dependencia</th>
              <td>Area de Desarrollo</td>
            </tr>
            <tr>
              <th scope="row" colspan="2">Salario</th>
              <td>$ 3'500.000</td>
            </tr>
            <tr>
              <th scope="row" colspan="2">Puntaje de desempeño</th>
              <td>9.5</td>
            </tr>
            <tr>
              <th scope="row" colspan="2">Retroalimentación mensual</th>
              <td style=" width: 50%;">Lorem Perferendis vero a ea voluptatum enim voluptatibus suscipit sunt est ipsam dolore ullam, autem aliquid repudiandae similique qui nemo minus quod quia?</td>
            </tr>
          </tbody>
        </table> 
      </form>       
    </div><br>
    <div style="text-align: center;  margin: 0 auto;">
      <button value="Salir" class="botonSalidaLogin"  type="button"> <a href="{{url_for('login')}}" class="btnsalir"> SALIR</a></button>
    </div> <br>
</body>
</html>